@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    background-color: #000000;
  }

  body {
    margin: 0;
    background-color: #000000;
    color: #ffffff;
    @apply font-sans antialiased overflow-x-hidden;
    overscroll-behavior: none;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
  }
}

/* Custom hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
